<html>
<head>
</head>
<body>
    <nav>
        <a href='/homepage'>HOME</a>
        <a href='/aboutus'>ABOUTE US</a>
        <a href='/jobs'>JOBS</a>
        <a href='/clients'>CLIENTS</a>
        <a href='/employees'>EMPLOYEES</a>
        <a href='/contactus'>CONTACT US</a>
    </nav>
    <div class="search-container">
        <input type="text" id="search-box" placeholder="I'm looking for...">
        <button id="search-button">Search</button>
    </div>
    <button id="Register-button" (click)="Register()">Register</button>
</body>
</html>